.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("background-hero.jpeg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-titulo {
  color: rgb(72, 35, 0);
  font-size: 40px;
  font-weight: 700;
  margin: 10px;
}
.hero-parrafo {
  color: black;
  font-size: 26px;
  margin: 20px;
  margin-bottom: 80px;
}
.hero-ancla {
    text-decoration: none;
    font-size: 22px;
    color: white;
    background-color: rgba(236, 132, 36, 0.8);
    padding: 30px;
    border-radius: 16px;
}

.hero-ancla:hover {
    background-color: white;
    color: rgb(236, 132, 36);
    transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hero {
    height: 400px; /* Reducir la altura en pantallas más pequeñas */
    padding: 20px; /* Agregar un poco de padding para que el contenido no esté tan pegado a los bordes */
  }
  
  .hero-titulo {
    font-size: 30px; /* Reducir el tamaño de fuente del título */
    margin: 5px; /* Ajustar el margen del título */
  }
  
  .hero-parrafo {
    font-size: 20px; /* Reducir el tamaño de fuente del párrafo */
    margin: 10px; /* Ajustar el margen del párrafo */
    margin-bottom: 40px; /* Reducir el margen inferior */
  }
  
  .hero-ancla {
    font-size: 18px; /* Reducir el tamaño de fuente del enlace */
    padding: 20px; /* Reducir el padding del botón */
  }
}
